{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": ["8.12.0"]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
