{
  "presets": [
    ["env", {
      "targets": {
        "node": ["current"]
      }
    }]
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
