{
  "AWSEBDockerrunVersion": 2,
  "volumes": [
    {
      "name": "docker_sock",
      "host": {
        "sourcePath": "/var/run/docker.sock"
      }
    },
    {
      "name": "proc",
      "host": {
        "sourcePath": "/proc/"
      }
    },
    {
      "name": "cgroup",
      "host": {
        "sourcePath": "/cgroup/"
      }
    }
  ],
  "containerDefinitions": [
    {
      "name": "dd-agent",
      "image": "datadog/docker-dd-agent:latest",
      "environment": [
        {
          "name": "API_KEY",
          "value": "{{{ DATADOG_KEY }}}"
        },
        {
          "name": "TAGS",
          "value": "{{ DATADOG_TAGS }}"
        }
      ],
      "memory": 100,
      "mountPoints": [
        {
          "sourceVolume": "docker_sock",
          "containerPath": "/var/run/docker.sock",
          "readOnly": false
        },
        {
          "sourceVolume": "proc",
          "containerPath": "/host/proc",
          "readOnly": true
        },
        {
          "sourceVolume": "cgroup",
          "containerPath": "/host/sys/fs/cgroup",
          "readOnly": true
        }
      ]
    },
    {
      "name": "fetch",
      "image": "madou/gw2armory-fetch",
      "essential": true,
      "memory": 425,
      "environment": [
        {
          "name": "ENV",
          "value": "{{ ENV }}"
        }
      ]
    },
    {
      "name": "server",
      "image": "madou/gw2armory-server",
      "essential": true,
      "memory": 425,
      "links": [
        "fetch"
      ],
      "environment": [
        {
          "name": "ENV",
          "value": "{{ ENV }}"
        },
        {
          "name": "IMAGE_UPLOAD_ACCESS_KEY_ID",
          "value": "{{{ IMAGE_UPLOAD_ACCESS_KEY_ID }}}"
        },
        {
          "name": "IMAGE_UPLOAD_SECRET_ACCESS_KEY",
          "value": "{{{ IMAGE_UPLOAD_SECRET_ACCESS_KEY }}}"
        },
        {
          "name": "SES_ACCESS_KEY_ID",
          "value": "{{{ SES_ACCESS_KEY_ID }}}"
        },
        {
          "name": "SES_SECRET_ACCESS_KEY",
          "value": "{{{ SES_SECRET_ACCESS_KEY }}}"
        }
      ],
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ]
    },
    {
      "name": "migration",
      "image": "madou/gw2armory-migration",
      "essential": false,
      "memory": 50,
      "environment": [
        {
          "name": "ENV",
          "value": "{{ ENV }}"
        }
      ]
    }
  ]
}
