{
	"AWSEBDockerrunVersion": 2,
	"containerDefinitions": [
		{
			"name": "fetch",
			"image": "madou/gw2armory-fetch",
			"essential": true,
			"memory": 400,
			"environment": [
				{
					"name": "ENV",
					"value": "{{ ENV }}"
				}
			]
		},
		{
			"name": "server",
			"image": "madou/gw2armory-server",
			"essential": true,
			"memory": 500,
			"links": [
        "fetch"
      ],
			"environment": [
				{
					"name": "ENV",
					"value": "{{ ENV }}"
				}
			],
      "portMappings": [
	      {
	      	"hostPort": 80,
	      	"containerPort": 80
	    	}
    	]
		}
	]
}